body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  border-radius: 100%;
  bottom: 25px;
  font-size: 22px;
  position: fixed;
  left: 25px;
  width: 70px;
  height: 70px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FFA500;
  border-color: transparent;
}

/* Menu */

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #FFA500
}

/* SubMenu */
.ant-menu-light .ant-menu-submenu-active .ant-menu-submenu-title:hover, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color:#FFA500
}
.ant-menu-submenu-selected {
  color:#FFA500
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active {
  color:#FFA500
}


/* Submenu item */
.ant-menu-item-selected a,  .ant-menu-item-selected a:hover {
  color: white;  
}

.ant-menu-item a:hover {
  color: #FFA500;
}

.ant-menu.ant-menu-light  .ant-menu-item-selected {
  background-color: #FFD700;
  color: white; 
  transition: background-color 0.3s; 
}
.ant-menu.ant-menu-light  .ant-menu-item-selected:hover,   .ant-menu.ant-menu-light  .ant-menu-item-selected a:hover{
  color: white
}

